
{% extends 'base.html' %}
{% block content %}
<style>
    table {
        width: 100%;
    }
    table td {
        text-align: center;
        border-bottom: 1px solid black;
    }
</style>
<a href='{% url "model_files:book.add" %}'>Add Book</a>
<hr />

{% if files %} 
    <table>
        {% for obj in files %}
            <tr>
                <td>
                    <a href='{{ obj.get_absolute_url }}'>{{ obj }}</a>
                </td>
                <td>
                    {% if obj.index %}
                        <a href='{% url "db_file_storage.download_file" %}?name={{ obj.index }}'>
                            <i>Download file</i>
                        </a>

                    {% endif %}
                </td>
                <td>
                    {% if obj.index %}
                        <a href='{% url "db_file_storage.get_file" %}?name={{ obj.index }}'>
                            <i>See file</i>
                        </a>

                    {% endif %}
                </td>
                <td>
                    <div>{{obj.crtd}}</div>
                </td>
           </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No items found.</p>
{% endif %}
<hr/>
{% endblock %}

